<!-- views/home.handlebars -->
{{#if user}}

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Profiilin tiedot</h3>
    </div>
    <div class="panel-body">
      {{#if user.isAdmin}}
      <p>Käyttäjä on järjestelmänvalvoja</p>
      {{/if}}
      <p>Username: {{user.username}}</p>
      <p>Avatar: <img src="{{user.avatar}}" width="30px" height="30px"/></p>
      <form class="form-inline" method="POST" action="/changeavatar">
      <div class="form-group">
        <label for="avatarurl"> Avatar Url: </label>
        <input type="text" class="form-control" id="avatarurl" name="avatarurl">
        <button type="submit" class="btn btn-default">Vaihda</button>
      </div>
    </div>
  </div>

{{else}}
  <div class="jumbotron">
    <h1>Kirjaudu sisään</h1>
    <p>
      <a href="/signin" class="btn btn-primary btn-lg" role="button">
        <span class="glyphicon glyphicon-user"></span>
        Sign in!
      </a>
    </p>
  </div>

{{/if}}